.custom-title {
  flex: 1; /* Faz o título ocupar o espaço restante */
  text-align: center; /* Centraliza o texto */
}

.custom-button {
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-content.white-background {
  background-color: white !important;
}

.form-item {
  margin-bottom: 16px;
}

ion-item {
  --background: transparent; /* Para garantir que o fundo padrão não interfira */

  ion-input {
    background-color: var(--ion-color-input-background-light);

    &.ion-color-dark {
      background-color: var(--ion-color-input-background-dark);
    }
  }
}

ion-input,
ion-select,
.form-item {
  margin-top: 10px;
  padding-left: 10px !important;
}

.custom-save-button {
  width: 95% !important; /* Define a largura para 50% */
  padding-top: auto;
  margin: 10px auto; /* Centraliza o botão */
  display: flex; /* Alinha o conteúdo */
  justify-content: center; /* Centraliza o conteúdo dentro do botão */
}

.form-item {
  margin-bottom: 16px; /* Espaço entre os itens */
}

ion-input {
  --padding-start: 10px; /* Adiciona preenchimento ao início */
  --border-radius: 8px; /* Bordas arredondadas */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

ion-item.invalid {
  --background: #f2a2a2; /* Fundo vermelho claro para indicar erro */
}

.custom-save-button {
  background-color: #3880ff; /* Cor de fundo */
  color: white; /* Cor do texto */
  border-radius: 8px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave */
}

.custom-save-button:hover {
  background-color: #014b99; /* Cor ao passar o mouse */
}
