/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Estilos do footer */
ion-footer {
  font-size: 14px; /* Diminuindo o tamanho da fonte do footer */
}

/* Estilos dos ícones dentro do footer */
ion-footer ion-icon {
  font-size: 20px; /* Diminuindo o tamanho dos ícones no footer */
  color: #3880ff;
}

/* Estilos dos botões dentro do footer */
ion-footer ion-button {
  --ion-button-padding: 0; /* Remove padding para botões */
  flex-shrink: 0; /* Evita que os botões encolham */
  color: #fff !important
}

/* Ajuste do espaçamento e tamanho para os labels no footer */
ion-footer ion-label {
  font-size: 14px; /* Diminuindo o tamanho do texto do rótulo no footer */
}

/* Estilos para os botões roláveis no footer */
.scrollable-buttons {
  display: flex; /* Para alinhar os botões em linha */
  overflow-x: auto; /* Permite rolagem horizontal */
  -webkit-overflow-scrolling: touch; /* Para rolagem suave em dispositivos móveis */
  white-space: nowrap; /* Impede quebra de linha dos botões */
}
