<ion-content>
  <div class="container">
    <!-- Cabeçalho com o nome do sistema -->

    <h2 style="margin-bottom: 10px">Sistema de inventário</h2>

    <!-- Botão de adicionar produto -->
    <ion-button expand="full" (click)="addProduct()" color="primary">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Add Product
    </ion-button>

    <!-- Seção de produtos -->
    <h2>Products</h2>
    <ion-list>
      <ion-item
        *ngFor="let product of products"
        lines="none"
        class="product-item"
      >
        <ion-icon [name]="product.icon" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ product.name }}</h3>
          <p>
            SKU: {{ product.sku }}, Quantity: {{ product.quantity }}, Category:
            {{ product.category }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Seção de funcionários -->
    <h2>Employees</h2>
    <ion-list>
      <ion-item
        *ngFor="let employee of employees"
        lines="none"
        class="employee-item"
      >
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ employee.name }}</h3>
          <p>Employee ID: {{ employee.id }}, Role: {{ employee.position }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
