<ion-content>
  <div class="container">
    <h2 style="margin-bottom: 10px">Sistema de inventário</h2>

    <ion-button expand="full" (click)="addProduct()" color="primary">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Add Product
    </ion-button>

    <!-- Seção de produtos -->
    <h2>Products</h2>
    <ion-list style="max-height: 220px; overflow-y: auto">
      <ion-item
        *ngFor="let product of products"
        lines="none"
        class="product-item"
      >
        <ion-icon [name]="product.icon" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ product.name }}</h3>
          <p>
            Quantity: {{ product.quantity }}, Category: {{ product.category }}
          </p>
        </ion-label>
      </ion-item>

      <!-- Botão Mostrar Mais abaixo do último item -->
      <ion-item
        *ngIf="hasMoreProducts"
        lines="none"
        class="show-more-item"
        style="text-align: center; margin: 10px 0"
      >
        <ion-button
          expand="full"
          class="show-more-button"
          (click)="loadMoreProducts()"
        >
          Mostrar mais
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- Seção de funcionários -->
    <h2>Employees</h2>
    <ion-list>
      <ion-item
        *ngFor="let employee of employees"
        lines="none"
        class="employee-item"
      >
        <ion-icon [name]="employee.icon" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ employee.name }}</h3>
          <p *ngIf="loggedInUserRole === 'admin'">
            Email: {{ employee.email }}
          </p>
          <p>Role: {{ employee.position }}</p>
        </ion-label>
        <ion-button
          *ngIf="loggedInUserRole === 'admin'"
          fill="clear"
          slot="end"
          (click)="goToEditProfile(employee.email)"
        >
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="goToProfile()" color="secondary">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            Profile
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" (click)="someAction2()" color="secondary">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            Desloga
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Loading -->
    <ion-loading
      [isOpen]="isLoading"
      message="Atualizando lista..."
      duration="0"
    ></ion-loading>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="scrollable-buttons" slot="start">
      <ion-buttons>
        <ion-button (click)="goToHome()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-button>
        <ion-button (click)="goToProducts()">
          <ion-icon name="pricetag-outline"></ion-icon>
          <ion-label>Produtos</ion-label>
        </ion-button>
        <ion-button (click)="goToEmployees()">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Funcionários</ion-label>
        </ion-button>
        <ion-button (click)="goToProfile()">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
