ion-content {
  --background: transparent; /* Define o fundo da página como branco */
}

.container {
  padding: 16px;
  background: transparent; /* Fundo branco para o contêiner */
}
.no-bottom-spacing {
  margin-bottom: 0; // Remove o espaçamento inferior
}
.product-item,
.employee-item {
  --background: transparent; /* Fundo branco para os itens */
  --border-radius: 8px;
  margin: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-icon {
  font-size: 24px;
  color: #3880ff;
}

ion-avatar img {
  border-radius: 50%;
}

.black-background {
  background-color: #ffffff !important; /* Sobrescreve fundo preto */
}

/* Adicionando estilos para garantir que os campos não fiquem com fundo preto */
ion-item {
  --background: transparent; /* Fundo branco para os itens */
}

ion-list {
  --background: transparent; /* Fundo branco para a lista */
}

.show-more-button {
  background-color: #4caf50; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  border-radius: 8px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave para hover */
}

.show-more-button:hover {
  background-color: #45a049; /* Cor do fundo ao passar o mouse */
}

.show-more-item {
  margin: 10px 0; /* Espaço em volta do item */
}

.online-status {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}

.offline-status {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.styled-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Mantém a barra acima de outros elementos */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
  background-color: #ffffff; /* Cor de fundo branca */
}

ion-footer {
  font-size: 14px; /* Diminuindo o tamanho da fonte */
}

ion-icon {
  font-size: 20px; /* Diminuindo o tamanho dos ícones */
}

ion-button {
  --ion-button-padding: 0; /* Remove padding para botões */
}

/* Ajuste do espaçamento e tamanho para os labels */
ion-label {
  font-size: 14px; /* Diminuindo o tamanho do texto do rótulo */
}
.scrollable-buttons {
  display: flex; /* Para alinhar os botões em linha */
  overflow-x: auto; /* Permite rolagem horizontal */
  -webkit-overflow-scrolling: touch; /* Para rolagem suave em dispositivos móveis */
  white-space: nowrap; /* Impede quebra de linha dos botões */
}

ion-button {
  flex-shrink: 0; /* Evita que os botões encolham */
}
