<ion-content>
  <div class="container">
    <h2 style="margin-bottom: 10px">Sistema de inventário</h2>

    <ion-button expand="full" (click)="addProduct()" color="primary">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Add Product
    </ion-button>

    <!-- Seção de produtos -->
    <h2>Products</h2>
    <ion-list>
      <ion-item
        *ngFor="let product of products"
        lines="none"
        class="product-item"
      >
        <ion-icon [name]="product.icon" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ product.name }}</h3>
          <p>
            Quantity: {{ product.quantity }}, Category: {{ product.category }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Seção de funcionários -->
    <h2>Employees</h2>
    <ion-list>
      <ion-item
        *ngFor="let employee of employees"
        lines="none"
        class="employee-item"
      >
        <ion-icon [name]="employee.icon" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ employee.name }}</h3>
          <p>Email: {{ employee.email }}, Role: {{ employee.position }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="goToProfile()" color="secondary">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            Profile
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" (click)="someAction2()" color="secondary">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            Deslogar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
